.container {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
}
.form {
  display: flex;
  flex-direction: column;
}
.formLabel {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.formInput {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formButton {
  width: max-content;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: antiquewhite;
  background-color: rgb(3, 28, 59);
}
